
#strip{
    background-color: steelblue;
    color: white;
    height: 100px;
    padding: 0px;
}
#about {
    background-color: rgb(92,184,92);
    text-align: center;
    color: white;
    margin: 0px 0 20px 0;
    padding: 50px;
}
#portfolio {
  background-color: #00b33c;
    text-align: center;
    color: white;
    margin: 0px 0 20px 0;
    padding: 20px;
}
#contact{
    background-color: rgb(0, 102, 34);
    text-align: center;
    color: white;
    margin: 0px 0 20px 0;
    padding: 50px;
}
.myNavbar{
    background-color: rgb(0, 230, 138);
    font-weight: bold;
    color: white !important;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  body{
     padding: 100px;
  }
  .btn{
    margin: 100px;
    background-color: brown;
    color: khaki;
    font-size: 30pt;
    padding: 50px;
    box-shadow: gray 10px 10px 10px;
    transition: 0.8s;
    border-radius: 20px;
    width: 200px;

}
.btn:hover{
    transform: translate(-10px,-10px);
    box-shadow: gray 20px 20px 20px;
    transition: 0.5s;
    color: yellow;
}
.btn:active{
    transform: translate(5px,5px);
    box-shadow: gray 5px 5px 3px;
    transition: 0.2s;
}


@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 10s slidy infinite; 
    }
    body {
        background: #212121;
        font-size:22px;
        line-height: 32px;
        color: #ffffff;
        margin: 0;
        padding: 100px;
        
        font-family:  sans-serif;
        }
    
    h1 {
        font-size: 60px;
        text-align: center;
        color: #FFF;
    }	
    
    h3 {
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        color: #FFF;
    }
    
    h3 a {
        color: #FFF;
    }
    
    a {
        color: #FFF;
    }
    
    h1 {
        margin-top: 100px;
        text-align:center;
        font-size:60px;
        line-height: 70px;
        font-family: 'Bree Serif', 'serif';
        }
    
    
    
    p {
        text-align: center;
    }
    
    .toggle,
    [id^=drop] {
        display: none;
    }
    
    /* Giving a background-color to the nav container. */
    nav { 
        margin:0;
        padding: 0;
        background-color: steelblue;
    }
    
    #logo {
        display: block;
        padding: 0 30px;
        float: left;
        font-size:20px;
        line-height: 60px;
    }
    
  
    
    
    
  
    nav ul {
        float: right;
        padding:0;
        margin:0;
        list-style: none;
        position: relative;
        }
        
    nav ul li {
        margin: 0px;
        display:inline-block;
        float: left;
        background-color: steelblue;
        }
    
    nav a {
        display:block;
        padding:14px 20px;	
        color:#FFF;
        font-size:17px;
        
    }
    
    
    
    
    
    nav ul ul {
        display: none;
        position: absolute; 
         
    }
        
    nav ul li:hover > ul {
        display:inherit;
    }
        
    nav ul ul li {
        width:170px;
        float:none;
        display:list-item;
        position: relative;
    }
    
    
        
   
 
    
    
    
    @media all and (max-width : 768px) {
    
        #logo {
            display: block;
            padding: 0;
            width: 100%;
            text-align: center;
            float: none;
        }
    
        nav {
            margin: 0;
        }
    
        .toggle + a,
        .menu {
            display: none;
        }
    
        .toggle {
            display: block;
            background-color: #254441;
            padding:14px 20px;	
            color:#FFF;
            font-size:17px;
            text-decoration:none;
            border:none;
        }
    
        .toggle:hover {
            background-color: #000000;
        }
    
        [id^=drop]:checked + ul {
            display: block;
        }
    
       
        nav ul li {
            display: block;
            width: 100%;
            }
    
        nav ul ul .toggle,
        nav ul ul a {
            padding: 0 40px;
        }
    
        nav ul ul ul a {
            padding: 0 80px;
        }
    
        nav a:hover,
         nav ul ul ul a {
            background-color: #000000;
        }
      
        nav ul li ul li .toggle,
        nav ul ul a,
      nav ul ul ul a{
            padding:14px 20px;	
            color:#FFF;
            font-size:17px; 
        }
      
      
        nav ul li ul li .toggle,
        nav ul ul a {
            background-color: #212121; 
        }
    
       
        nav ul ul {
            float: none;
            position:static;
            color: #ffffff;
        }
            
        
        nav ul ul li:hover > ul,
        nav ul li:hover > ul {
            display: none;
        }
            
        nav ul ul li {
            display: block;
            width: 100%;
        }
    
        nav ul ul ul li {
            position: static;
        
        }
    
    }
    
  